node_modules/
uploadedFiles/
errorShots/
errorVideos/
errorScenarios/
videos/
report/
reports/
vrtShots/
gitRepos/
results/
mutation/*.js
.DS_Store
vrt/wdio.*.conf.js
vrt/test/specs/vrt.js
SimianArmy/
apk/
SimianArmy.zip
