<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Testing service</title>
  </head>
  <body>
    <h1>Testing service</h1>
    <p>With this tool you can run a Cypress test for multiple
      browsers/resolutions automatically.</p>
    <p>Please fill the information and upload your test file</p>
    <form id="testForm" enctype="multipart/form-data">
      <table border="1" style="margin: auto;margin-bottom: 27px;">
        <tr>
          <td>Browser\Resolution</td>
          <td>320</td>
          <td>375</td>
          <td>414</td>
          <td>768</td>
          <td>1280</td>
          <td>1366</td>
          <td>1440</td>
        </tr>
        <tr>
          <td>Electron</td>
          <td><input type="checkbox" name="env" value="electron 320"></td>
          <td><input type="checkbox" name="env" value="electron 375"></td>
          <td><input type="checkbox" name="env" value="electron 414"></td>
          <td><input type="checkbox" name="env" value="electron 768"></td>
          <td><input type="checkbox" name="env" value="electron 1280"></td>
          <td><input type="checkbox" name="env" value="electron 1366"></td>
          <td><input type="checkbox" name="env" value="electron 1440"></td>
        </tr>
      </table>
      <input type="text" name="gitUrl" placeholder="Cypress repo link"
        style="margin-bottom: 10px;"></input><br>
      <input type="text" name="email" placeholder="Email"
        style="margin-bottom: 10px;"></input><br>
      <input type="submit">
    </form>

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/main.js">
  </script>
  </body>
</html>
