<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Testing service</title>
  </head>
  <body>
    <h1>Testing service</h1>
    <p>With this tool you can run a Cypress test for multiple
      browsers/resolutions automatically.</p>
    <p>Please fill the information and upload your test file</p>
    <form id="testForm" enctype="multipart/form-data">
      <table>
        <tr>
          <td>Browser\Resolution</td>
          <td>res 1</td>
          <td>res 2</td>
          <td>res 3</td>
          <td>res 4</td>
          <td>res 5</td>
        </tr>
        <tr>
          <td>Browser 1</td>
          <td><input type="checkbox" name="env" value="b1 r1"></td>
          <td><input type="checkbox" name="env" value="b1 r2"></td>
          <td><input type="checkbox" name="env" value="b1 r3"></td>
          <td><input type="checkbox" name="env" value="b1 r4"></td>
          <td><input type="checkbox" name="env" value="b1 r5"></td>
        </tr>
        <tr>
          <td>Browser 2</td>
          <td><input type="checkbox" name="env" value="b2 r1"></td>
          <td><input type="checkbox" name="env" value="b2 r2"></td>
          <td><input type="checkbox" name="env" value="b2 r3"></td>
          <td><input type="checkbox" name="env" value="b2 r4"></td>
          <td><input type="checkbox" name="env" value="b2 r5"></td>
        </tr>
        <tr>
          <td>Browser 3</td>
          <td><input type="checkbox" name="env" value="b3 r1"></td>
          <td><input type="checkbox" name="env" value="b3 r2"></td>
          <td><input type="checkbox" name="env" value="b3 r3"></td>
          <td><input type="checkbox" name="env" value="b3 r4"></td>
          <td><input type="checkbox" name="env" value="b3 r5"></td>
        </tr>
      </table>
      <input type="file" name="filetoupload"><br>
      <input type="submit">
    </form>

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/main.js">
  </script>
  </body>
</html>
